<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355267787720-jpn6tl48bugkkhrdfh3miuj6a4rpp49r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355267787720-jpn6tl48bugkkhrdfh3miuj6a4rpp49r</string>
	<key>API_KEY</key>
	<string>AIzaSyCLbsbWTU9Zp1VxRF18mrx4yR9fvhKpyH0</string>
	<key>GCM_SENDER_ID</key>
	<string>355267787720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterLearning</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-todo-f61ec</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-todo-f61ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355267787720:ios:78111d62f766cc127d1efd</string>
</dict>
</plist>